{% extends 'base.html' %}
{% load static %}
{% load filter %}
{% block main_area %}
    <div class="navbar-img">
        <img class="navbar-img-image" src="{% static 'img/home.jpg' %}"/>
        <div class="navbar-img__text">
            <span class="navbar-img__text--title">Q&A 게시판</span>
            <span class="navbar-img__text--subtitle">상명대 졸업요건 검사 사이트</span>
            <span class="navbar-img__text--subtitle">Q&A 게시판입니다.</span>
        </div>
    </div>
    <div class="post_detail__title_container container my-3">
        <!-- message 표시 -->
        {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger my-3" role="alert">
                <strong>{{ message.tags }}</strong>
                <ul><li>{{ message.message }}</li></ul>
            </div>
            {% endif %}
        {% endfor %}
        {% endif %}
        <div class="post_detail__title">
            {% if question.answer_set.count == 0 %}
                <h4 class="py-2 post_detail__title-status table-body__proceeding h4-font" style="margin-bottom: 0;">[접수]</h4>
            {% else %}
                <h4 class="py-2 post_detail__title-status table-body__complete h4-font" style="margin-bottom: 0;">[답변완료]</h4>
            {% endif %}
            <h3 class="py-2 post_detail__title-title" style="text-align: center; margin-top: 16px; margin-bottom: 0;">{{ question.subject }}</h3>
        </div>
    </div>
    <div class="post_detail__body_container container my-3" style="margin-bottom: 3rem !important;">
        <div class="post_detail__body-title border-bottom">
            <h4 class="post_detail__title-title my-3 py-2 h4-font">질문</h4>
            <div class="post_detail__body-title--button">
                {% if request.user.is_superuser and not answer %}
                    <a href="{% url 'qna:answer_create' question.pk %}" class="btn btn-sm btn-primary">답변 등록</a>
                {% endif %}
                {% if request.user == question.author %}
                    <a href="{% url 'qna:question_modify' question.pk %}" class="btn btn-sm btn btn-warning">수정</a>
                    <a href="javascript:void(0)" class="delete btn btn-sm btn-danger"
                        data-uri="{% url 'qna:question_delete' question.pk %}">삭제</a>
                {% endif %}
            </div>
        </div>
        <div class="card my-3">
            <div class="card-body">
                <div class="post_detail__body-text card-text">
                    {{ question.content|mark }}
                </div>
            </div>
            <div class="d-flex justify-content-end" style="margin-bottom: 0.5rem;">
                <div class="badge bg-light text-dark p-2 text-start">
                    {{ question.author_name }}
                </div>
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    {% if question.modify_date %}
                        {{ question.modify_date_str }} (수정)
                    {% else %}
                        {{ question.create_date_str }}
                    {% endif %}
                </div>
            </div>
        </div>

        {% if answer %}
            <div class="post_detail__body-title border-bottom">
                <h4 class="post_detail__title-title my-3 py-2 h4-font">답변</h4>
                <div class="post_detail__body-title--button">
                    {% if request.user.is_superuser %}
                        <a href="{% url 'qna:answer_modify' answer.id  %}" class="btn btn-sm btn btn-warning">수정</a>
                        <a href="javascript:void(0)" class="delete btn btn-sm btn-danger"
                            data-uri="{% url 'qna:answer_delete' answer.id  %}">삭제</a>
                    {% endif %}
                </div>
            </div>
            <div class="card my-3">
                <div class="card-body">
                    <div class="post_detail__body-text card-text">
                        {{ answer.content|mark }}
                    </div>
                </div>
                <div class="d-flex justify-content-end" style="margin-bottom: 0.5rem;">
                    <div class="badge bg-light text-dark p-2 text-start mx-3">
                        {% if answer.modify_date %}
                            {{ answer.modify_date_str }} (수정)
                        {% else %}
                            {{ answer.create_date_str }}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block js %}
<script type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
</script>
{% endblock %}