{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/board.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" media="screen">
{% endblock %}
{% block main_area %}
    <div class="navbar-img">
        <img class="navbar-img-image" src="{% static 'img/home.jpg' %}" />

        <div class="navbar-img__text">
            <span class="navbar-img__text--title">이용약관</span>
            <span class="navbar-img__text--subtitle">상명대 졸업요건 검사 사이트 이용약관은</span>
            <span class="navbar-img__text--subtitle">다음과 같은 내용을 담고 있습니다.</span>
        </div>
    </div>
    <section id="cont_view" class="cs_wrap">
        <div class="cs_tab">
            <div class="tab div3">
                <ul>
                    <li class="motion fadeInLeft visible" data-animation="fadeInLeft"><a href="{% url 'qna:terms' %}" class="on" title="현재">이용약관</a></li>
                    <li class="motion fadeInLeft visible" data-animation="fadeInLeft"><a href="{% url 'qna:privacy' %}">개인정보처리방침</a></li>
                    <li class="motion fadeInLeft visible" data-animation="fadeInLeft"><a href="{% url 'qna:question_list' %}">QnA 게시판</a></li>
                </ul>
            </div>
        </div>
        <div class="login-container term-container">
            <div class="container">
                <div class="info_box_wrapper">
                    {% include "accounts/info.html" %}
                </div>
            </div>
        </div>
    </section>
    <!-- 검사대상표 모달 -->
    <div id="target_modal" class="modal" >
        <div class="update_modal_content">
            <span class="close" id="target_close">&times;</span>
            <br>
            <div class="modal_div">
                <div class="p_div">
                    <!-- 추천과목 -->
                    <div class="modal_title"><i class="my_i fas fa-check-circle"></i> 검사대상표
                    </div>
                    <div class="mydiv">아래 표에 해당하는 학과만 회원가입 가능합니다.</div>
                    <hr>

                    <div class='target_num_div'>
                        현재 총 <span class='target_color_span'>{{ dept_num }}</span>개 학과 검사 가능
                    </div>
                    <div class="modal-scroll">
                        <table class="target_table" style="width: 100%;">
                            <tr>
                                <th class="target_table_th" style='border-left: 1px solid #dadada;'>학과</th>
                                <th class="target_table_th table_hidden">단과대학</th>
                                <th class="target_table_th">학번</th>
                                <th class="target_table_th table_hidden">교육과정</th>
                            </tr>
                            {% for department in departments %}
                            <tr>
                                <td class="target_table_td" style='border-left: 1px solid #dadada;'>{{ department.name }}</td>
                                <td class="target_table_td table_hidden">{{ department.college }}</td>
                                <td class="target_table_td">23, 22, 21, 20, 19, 18, 17</td>
                                <td class="target_table_td table_hidden"><a class="link_site" href="{{ department.url }}" target="_blank">교육과정</a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script>
    // 검사대상표 모달
    var target_btn = document.getElementById("target_btn");
    var target_modal = document.getElementById('target_modal');
    var target_close = document.getElementById("target_close");
    Btnclick(target_btn, target_modal);
    Spanclick(target_close, target_modal);
    window.onclick = function (event) {
        if (event.target == target_modal) {
            target_modal.style.display = "none";
        }
    }
</script>
{% endblock %}