{% extends 'base.html' %}
{% load static %}
{% block main_area %}
    <div class="navbar-img">
        <img class="navbar-img-image" src="{% static 'img/home.jpg' %}"/>
        <div class="navbar-img__text">
            <span class="navbar-img__text--title">이용약관 동의</span>
            <span class="navbar-img__text--subtitle">아래 사항을 모두 읽고 약관에 동의해주세요.</span>
        </div>
    </div>
    <div class="login-container" style="display: block;">
        <div class="container" style="width: auto;">
            <!-- 검사 대상 박스 -->
            <div class="info_title"><b>이용약관</b></div>
            <div class="info_box_wrapper">
                <div class="info_box_content">
                    {% include "accounts/info.html" %}
                </div>
                <!-- 동의 체크박스 -->
                <div class="info_agree">
                    <label style='cursor: pointer;'>
                        <input type="checkbox" onclick="agree_func()" id="agree">
                        <label for='agree'></label>
                        &nbsp;다음 이용약관에 동의합니다.
                    </label>
                </div>
            </div>
        </div>

        <!-- 로그인 박스 -->
        <div class="info_title"><b>학생 인증</b></div>
        <div class="info_content" style="text-align: center; margin-top: 10px;">
            <p>
                샘물 통합로그인을 통해 재학생 인증을 진행합니다.<br>
                (<a href="https://portal.smu.ac.kr/" class="text-black footer_link" style="font-weight: bold;" target="_blank">상명대학교 샘물포털시스템</a> 학번/비밀번호)
            </p>
        </div>
        <div class="container" style="width: auto;">
            <div style="display: flex; justify-content: center;">
                <div class="login-form login-margin" style="margin-top: 10px; border:0.001px solid rgb(216, 216, 216); box-shadow: none;">
                    <!-- 로그인 폼 -->
                    <form onsubmit="return check_up();" method="post" >
                        {% csrf_token %}
                        <div class="agree">
                            <div class="input-group flex-nowrap">
                                <input type="text" class="form-control" name="username" id="id" placeholder="학번">
                            </div>
                            <div class="input-group flex-nowrap" style="margin-top: 1rem;">
                                <input type="password" class="form-control" name="password" id="pw" placeholder="샘물 비밀번호">
                            </div>
                            <div id="login_btn">
                                <div class='login_btn_default' style="color: rgb(1, 42, 127);">이용약관에 동의해주세요.</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 검사대상표 모달 -->
    <div id="target_modal" class="modal" >
        <div class="update_modal_content">
            <span class="close" id="target_close">&times;</span>
            <br>
            <div class="modal_div">
                <div class="p_div">
                    <!-- 추천과목 -->
                    <div class="modal_title"><i class="my_i fas fa-check-circle"></i> 검사대상표
                    </div>
                    <div class="mydiv">아래 표에 해당하는 학과만 회원가입 가능합니다.</div>
                    <hr>

                    <div class='target_num_div'>
                        현재 총 <span class='target_color_span'>{{ dept_num }}</span>개 학과 검사 가능
                    </div>
                    <div class="modal-scroll">
                        <table class="target_table" style="width: 100%;">
                            <tr>
                                <th class="target_table_th" style='border-left: 1px solid #dadada;'>학과</th>
                                <th class="target_table_th table_hidden">단과대학</th>
                                <th class="target_table_th">학번</th>
                                <th class="target_table_th table_hidden">교육과정</th>
                            </tr>
                            {% for department in departments %}
                            <tr>
                                <td class="target_table_td" style='border-left: 1px solid #dadada;'>{{ department.name }}</td>
                                <td class="target_table_td table_hidden">{{ department.college }}</td>
                                <td class="target_table_td">23, 22, 21, 20, 19, 18, 17</td>
                                <td class="target_table_td table_hidden"><a class="link_site" href="{{ department.url }}" target="_blank">교육과정</a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 로딩 모달 창 -->
    <div id='m1' class="modal">
        <div class="load-modal-content">
            <div class="modal_loadcontainer">
                <div class="sk-chase">
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                </div>
                <div class="loading">
                    <span>인</span>
                    <span>증</span>
                    <span>정</span>
                    <span>보</span>
                    <span>확</span>
                    <span>인</span>
                    <span>중</span>
                    <span>.</span>
                    <span>.</span>
                    <span>.</span>
                </div>
                <div class="load_info">
                    창을 이동하지 마세요!
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script src="{% static 'js/modal.js' %}"></script>
<script>
    function agree_func() {
        var chk = document.getElementById('agree');
        // 체크시
        if (chk.checked) {
            var tag = "<input type='submit' class='btn btn-primary button-sm' value='인증하기' style='margin-top: 1rem;'>";
        }
        // 체크 풀시
        else {
            var tag = "<div class='login_btn_default'>이용약관에 동의해주세요.</div>";
        }
        document.getElementById("login_btn").innerHTML = tag;
    }

    // 인증하기 클릭시 modal 띄움
    function pop_modal() {
        document.getElementById('m1').style.display = "block";
    }

    // form 체크
    function check_up() {
        if (!document.getElementById('pw').value || !document.getElementById('id').value) {
            alert('⚠️ 학번과 샘물 비밀번호를 입력해주세요.');
            return false;
        }
        pop_modal();
        return true;
    }

    // 검사대상표 모달
    var target_btn = document.getElementById("target_btn");
    var target_modal = document.getElementById('target_modal');
    var target_close = document.getElementById("target_close");
    Btnclick(target_btn, target_modal);
    Spanclick(target_close, target_modal);
    window.onclick = function (event) {
        if (event.target == target_modal) {
            target_modal.style.display = "none";
        }
    }
</script>
{% endblock %}