{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/agree.css' %}">
{% endblock %}
{% block main_area %}
    <div class="navbar-img">
        <img class="navbar-img-image" src="{% static 'img/main.jpg' %}"  style="width: 100%; height: 300px; object-fit:cover"/>
        <div class="navbar-img__text">
            <span class="navbar-img__text--title">
                <div style="font-size:4rem;">
                    <img src="{% static 'img/logo.png' %}" style="width:100px; height:100px;">
                </div>
            </span>
            <div class="big_title">이용약관 동의</div>
            <div class="small_title">아래 사항을 모두 읽고 약관에 동의해주세요.</div>
        </div>
    </div>

    <div class="white_sec">
        <div class="container">
            <!-- 검사 대상 박스 -->
            <div class="info_title">
                <b>이용약관</b>
            </i>
            </div>
            <div class="info_box">
                <div class="info_content">
                    <p>
                        1. 현재 검사 가능한 학과는 다음과 같습니다. (검사대상에 속하지 않다면 회원가입이 불가능합니다.)</span>
                    </p>
                    <p style="margin-left:1rem; font-size:0.85rem;">
                        - 검사대상: &nbsp;<a id='target_btn' class="link_site" style='cursor: pointer;'>검사대상표</a>
                    </p>
                    <p>2. 편입생, 교직이수, 다전공, 외국인유학생 입학자에 해당하는 사용자는 검사 기준이 따로 설정되지 않습니다.</p>
                    <p>3. 추천 과목 정보는 <b>2023학년도 1학기</b> 정보를 기준으로 합니다.</p>
                    <p>4. 검사 기준은 <b>2023학년도 1학기</b> 교과과정으로 기준으로 합니다.</p>
                    <p style="margin-left:1rem; font-size:0.85rem;">- 상명대학교 교과과정:
                        <a class="link_site" target="_blank"
                            href="https://www.smu.ac.kr/smgs/curriculum/culture1.do">
                            계당교양교육원</a>
                        <a class="link_site" target="_blank"
                            href="https://www.smu.ac.kr/icee/certification/computer2022.do">공학인증</a>
                    </p>
                    <p>5. 사용자의 상명대학교 포털 사이트의 비밀번호는 인증에만 1회 사용되며 <b>저장되지 않습니다.</b></p>
                    <p>6. 사용자가 업로드하는 성적사항 엑셀파일은 <b>저장되지 않고</b> 평점을 제외한 과목정보만 데이터베이스로 변환하여 저장됩니다.</p>
                    <p>7. 상명대학교에서 공식적으로 만든 사이트가 아니므로 <b>검사 결과가 정확하지 않을 수 있습니다.</b></p>
                    <p>8. 졸업요건 기준이 잘못 설정되었거나 오류발생 시 상단 메뉴바로 피드백 부탁드립니다.</p>
                </div>
            </div>
            <!-- 동의 체크박스 -->
            <div class="info_agree">
                    <label style='cursor: pointer;'>
                        <input type="checkbox" onclick="agree_func()" id="agree">
                        <label for='agree'></label>
                        &nbsp;다음 이용약관에 동의합니다.
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!-- 로그인 박스 -->
    <div class="gray_sec">
        <div class="container">
            <div class="login_title" style="font-size:2rem;">학생 인증</div>
            <div style="margin-top:0.5rem; font-size:0.9rem; color:rgb(199, 199, 199)">
                이캠퍼스에 로그인하여 인증 후 비밀번호를 변경합니다. (상명대학교 포털 ID/PW와 동일)
            </div>
            <div class="login_box">
                <!-- 로그인 폼 -->
                <form onsubmit="return check_up();" method="post" >
                    {% csrf_token %}
                    <div class="regi_box">
                        <label>학번</label>
                        <input type="text" id="id" name="username" placeholder="학번">
                        <label>이캠퍼스 비밀번호</label>
                        <input type="password" id="pw" name="password" placeholder="이캠퍼스 비밀번호">
                    </div>
                    <div id="login_btn">
                        <div class='login_btn_default'>이용약관에 동의해주세요.</div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 검사대상표 모달 -->
    <div id="target_modal" class="modal" >
        <div class="modal-content" style='width:70%'>
            <span class="close" id="target_close">&times;</span>
            <br>
            <div class="modal_div">
                <div class="p_div">
                    <!-- 추천과목 -->
                    <div style="font-size : 1.5rem;"><i class="my_i fas fa-check-circle"></i> 검사대상표
                    </div>
                    <div class="mydiv">아래 표에 해당하는 학과-학번만 회원가입이 가능합니다.</div>
                    <hr>

                    <div class='target_num_div'>
                        현재 총 <span class='target_color_span'>{{ dep_num }}</span>개 학과/전공 검사 가능
                    </div>

                    <table class="target_table">
                        <tr>
                            <th class="target_table_th" style='border-left: 1px solid #dadada;'>학과/전공</th>
                            <th class="target_table_th">학번</th>
                        </tr>
                        {% for dep, year in target %}
                        <tr>
                            <td class="target_table_td" style='border-left: 1px solid #dadada;'>{{ dep }}</td>
                            <td class="target_table_td" >{{ year }}</td>
                        </tr>
                        {% endfor %}
                    </table>

                    <div class='target_caution_div'>
                        ※ 전공이 정해지지 않은 학부 소속 1학년은 회원가입시 희망전공을 선택합니다.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 로딩 모달 창 -->
    <div id='m1' class="modal">
        <div class="load-modal-content">
            <div class="modal_loadcontainer">
                <div class="sk-chase">
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                </div>
                <div class="loading">
                    <span>인</span>
                    <span>증</span>
                    <span>정</span>
                    <span>보</span>
                    <span>확</span>
                    <span>인</span>
                    <span>중</span>
                    <span>.</span>
                    <span>.</span>
                    <span>.</span>
                </div>
                <div class="load_info">
                    창을 이동하지 마세요!
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script src="{% static 'js/modal.js' %}"></script>
<script>
    function agree_func() {
        var chk = document.getElementById('agree');
        // 체크시
        if (chk.checked) {
            var tag = "<input type='submit' class='login_btn' value='인증하기'>";
        }
        // 체크 풀시
        else {
            var tag = "<div class='login_btn_default'>이용약관에 동의해주세요.</div>";
        }
        document.getElementById("login_btn").innerHTML = tag;
    }

    // 인증하기 클릭시 modal 띄움
    function pop_modal() {
        document.getElementById('m1').style.display = "block";
    }

    // form 체크
    function check_up() {
        if (!document.getElementById('pw').value || !document.getElementById('id').value) {
            alert('⚠️ 학번과 이캠퍼스 비밀번호를 입력해주세요.');
            return false;
        }
        pop_modal();
        return true;
    }

    // 검사대상표 모달
    var target_btn = document.getElementById("target_btn");
    var target_modal = document.getElementById('target_modal');
    var target_close = document.getElementById("target_close");
    Btnclick(target_btn, target_modal);
    Spanclick(target_close, target_modal);
    window.onclick = function (event) {
        if (event.target == target_modal) {
            target_modal.style.display = "none";
        }
    }
</script>
{% endblock %}