{% extends 'base.html' %}
{% load static %}
{% block main_area %}
    <div class="navbar-img">
        <img class="navbar-img-image" src="{% static 'img/main.jpg' %}"  style="width: 100%; height: 300px; object-fit:cover"/>
        <div class="navbar-img__text">
            <span class="navbar-img__text--title">
                <div style="font-size:4rem;">
                    <img src="{% static 'img/logo.png' %}" style="width:100px; height:100px;">
                </div>
            </span>
            <div class="big_title">비밀번호 변경</div>
        </div>
    </div>
    <!-- 입력란 -->
    <div class="white_sec">
        <div class="container">
            <form action="{% url 'accounts:change' %}" method="post" name='regi_form' onsubmit="return check_up()">
                {% csrf_token %}
                <div class="regi_box">
                    <label>ID</label>
                    <input type="text" name="id" value="{{ username }}" style="background-color:rgb(248,249,250);" readonly>
                    <label>비밀번호</label>
                    <input id="pw1" type="password" name="password1">
                    <label>비밀번호 재확인</label>
                    <input id="pw2" type="password" name="password2">
                </div>
                <input type='submit' class='regi_btn' value='변경하기'>
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}
<script>
    function check_up(){
        if(!document.getElementById('pw1').value){
            alert('😢 비밀번호를 입력해주세요.') ;
            regi_form.pw1.focus();
            return false;
        }
        if(document.getElementById('pw1').value !== document.getElementById('pw2').value){
            alert('😢 비밀번호가 일치하지 않습니다.') ;
            regi_form.pw1.focus();
            return false;
        }
        return true;
    }
</script>
{% endblock %}