{% extends 'base.html' %}
{% load static %}
{% block main_area %}
    <div class="navbar-img">
        <img class="navbar-img-image" src="{% static 'img/home.jpg' %}"/>
        <div class="navbar-img__text">
            <span class="navbar-img__text--title">비밀번호 변경</span>
            <span class="navbar-img__text--subtitle">비밀번호를 재설정해주세요.</span>
        </div>
    </div>
    <!-- 입력란 -->
    <div class="white_sec">
        <div class="container white-box">
            <form action="{% url 'accounts:change' %}" method="post" name='regi_form' onsubmit="return check_up()">
                {% csrf_token %}
                <div class="box-margin3">
                    <label style="margin-top: 3rem;">ID</label>
                    <input class="form-control" type="text" name="id" value="{{ username }}" style="background-color:rgb(248,249,250);" readonly>
                </div>
                <div class="box-margin1">
                    <label style="margin-top: 1rem;">비밀번호</label>
                    <input class="form-control" id="pw1" type="password" name="password1" placeholder="비밀번호">
                </div>
                <div class="box-margin1">
                    <label style="margin-top: 1rem;">비밀번호 재확인</label>
                    <input class="form-control" id="pw2" type="password" name="password2" placeholder="비밀번호 재확인">
                </div>
                <div style="text-align: center; margin-top: 2rem; margin-bottom: 3rem;">
                    <input type='submit' class='btn btn-primary button-sm' value='변경하기'>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}
<script>
    function check_up(){
        if(!document.getElementById('pw1').value){
            alert('😢 비밀번호를 입력해주세요.') ;
            regi_form.pw1.focus();
            return false;
        }
        if(document.getElementById('pw1').value !== document.getElementById('pw2').value){
            alert('😢 비밀번호가 일치하지 않습니다.') ;
            regi_form.pw1.focus();
            return false;
        }
        return true;
    }
</script>
{% endblock %}