<div class="info_box">
    <div class="info_content">
        <p>
            1. 상명대학교 학생 청원은 소속원들이 학교 운영과 관련한 의견을 공유하고, 이에 대한 개선 요구를 총학생회를 통해 학교 측에 제시하여 직접 답변을 받을 수 있는 서비스입니다.
        </p>
        <p>2. <b>상명대학교 서울캠퍼스 구성원</b> 누구라도 청원 사이트 내 회원가입을 통해 만들어진 계정을 이용해 직접 청원 글을 작성하실 수 있습니다.</p>
        <p class="info_text">※ 상기 계정은 팀 <b>스뮤니티</b>가 운영하는 ‘<b>졸업 요건 검사 웹사이트</b>’에서 가입된 회원 정보와도 연동됩니다. 만약 위 페이지에서 개설한 계정이 있는 경우, 신규 회원가입이 따로 필요하지 않습니다.</p>
        <p>3. 승인된 청원은 학생 청원 페이지를 포함해 총학생회가 운영하는 소통창구를 통해 누구나 열람할 수 있으며, 모든 상명대학교 서울캠퍼스 구성원은 청원 동의에 참여할 수 있습니다. </p>
        <p>4. 한 번 청원 동의에 참여한다면, <b>동의에 대한 철회는 불가</b>하며, 하나의 청원 글에 대한 동의는 <b>1인 1동의를 원칙</b>으로 합니다.</p>
        <p>5. <b>100명 이상</b>의 청원 동의를 받은 청원은 본회 내 유관부서의 담당자 확인을 통해 특별한 사정이 없는 한 2주 이내 답변하여 청원 페이지에 게시됩니다.</p>
        <p>6. 중복, 비방, 욕설, 혐오 표현, 명예훼손 등 부적절한 청원 내용은 상명대학교 서울캠퍼스 총학생회와 스뮤니티가 운영하는 청원 운영 원칙에 따라 <b>숨김/삭제</b> 처리될 수 있습니다.</p>
        <p>7. 허위사실을 포함하거나, 타인을 악의적으로 비방 혹은 명예를 훼손하기 위한 목적으로 작성된 청원에는 답변이 어려울 수 있습니다.</p>
        <p>8. 유사한 성질이거나, 동일한 내용으로 청원이 중복 게시되어 있는 경우 가장 동의수가 많은 청원만 남기고 <b>반려</b>될 수 있습니다.</p>
    </div>
</div>