<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1280">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="icon" href="static/img/favicon.ico">
    <!-- 웹 참조-->
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/e8a335040d.js" crossorigin="anonymous"></script>
    <script src="static/js/includeHTML.js"></script>
    <!-- 웹 폰트 참조-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-219523848-1"></script>
    <title>Please Graduate</title>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="white_sec">
    <div class="container">
        <form method="post" name='regi_form' onsubmit="return check_up()">
            {% csrf_token %}
            <div class="regi_box" style="width:400px">
                <label>이름</label>
                <input type="text" name="name" value="{{ name }}" style="background-color:rgb(248,249,250);" readonly>

                <label>학번</label>
                <input type="text" name="username" value='{{ form.username.value|default_if_none:id }}' style="background-color:rgb(248,249,250);" readonly>

                <label>학과</label>
                <input type="text" name="department" value="{{ department }}" style="background-color:rgb(248,249,250);" readonly>

                <label>이메일</label>
                <input type="text" name="email" value='{{ form.email.value|default_if_none:email }}' style="background-color:rgb(248,249,250);" readonly>


                <label>비밀번호</label>
                <input id="pw1" type="password" name="password1" value="{{ form.password1.value|default_if_none:'' }}">
                <div class='regi_guide'>
                    * Please Graduate 사이트의 고유 비밀번호를 설정해주세요
                </div>
                <label>비밀번호 재확인</label>
                <input id="pw2" type="password" name="password2" value="{{ form.password2.value|default_if_none:'' }}">
            </div>
            <input type='submit' class='regi_btn' value='가입하기'>
        </form>
    </div>
</div>

    {% include 'footer.html' %}
</body>
<script>
    includeHTML();
    function logout() {
        var back_head = confirm('✋ 정말 로그아웃 하시겠습니까? ✋');
        if (back_head) {
            location.href = '/f_logout/';
        }
    }
</script>
</html>