{% extends 'base.html' %}
{% load static %}
{% block main_area %}
    <div class="navbar-img">
        <img class="navbar-img-image" src="{% static 'img/home.jpg' %}"/>
        <div class="navbar-img__text">
            <span class="navbar-img__text--title">회원가입</span>
            <span class="navbar-img__text--subtitle">스뮤니티 사이트의 고유 비밀번호를 설정해주세요.</span>
        </div>
    </div>
    <div class="white_sec">
        <div class="container white-box">
            <form method="post" name='regi_form' onsubmit="return check_up();">
                {% csrf_token %}
                <div class="box-margin3">
                    <label>이름</label>
                    <input class="form-control form-readonly" type="text" name="name" value="{{ name }}" readonly>
                </div>
                <div class="box-margin1">
                    <label>학번</label>
                    <input class="form-control form-readonly" type="text" name="username" value="{{ form.username.value|default_if_none:id }}" readonly>
                </div>
                <div class="box-margin1">
                    <label>학과</label>
                    <input class="form-control form-readonly" type="text" name="department" value="{{ department }}" readonly>
                </div>
                <div class="box-margin1">
                    <label>이메일</label>
                    <input class="form-control form-readonly" type="text" name="email" value="{{ form.email.value|default_if_none:email }}" readonly>
                </div>
                <div class="box-margin1">
                    <label>비밀번호</label>
                    <input class="form-control" id="pw1" type="password" name="password1" value="{{ form.password1.value|default_if_none:'' }}">
                    <div class='regi_guide' style="color: rgb(1, 42, 127);">
                        - 스뮤니티 사이트의 고유 비밀번호를 설정해주세요.
                    </div>
                </div>
                <div class="box-margin1">
                    <label>비밀번호 재확인</label>
                    <input class="form-control" id="pw2" type="password" name="password2" value="{{ form.password2.value|default_if_none:'' }}">
                </div>
                <div style="text-align: center;">
                    <input type='submit' class='btn btn-primary button-sm' style="margin-top:2.5rem; margin-bottom: 3rem;" value='가입하기'>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        function check_up(){
            if(!document.getElementById('pw1').value){
                alert('😢 비밀번호를 입력해주세요.') ;
                regi_form.pw1.focus();
                return false;
            }
            if(document.getElementById('pw1').value !== document.getElementById('pw2').value){
                alert('😢 비밀번호가 일치하지 않습니다.') ;
                regi_form.pw1.focus();
                return false;
            }
            return true;
        }
    </script>
{% endblock %}
