{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/head.css' %}">
{% endblock %}

{% block main_area %}
    <header class="header">

    <div class="navbar_logo">
        <a href="/"><img src="static/img/deer1.png"></a>
    </div>

    <ul class="navbar_menu">
        <li>
            <a href='https://forms.gle/f2vUqVg9wQFneBLf7' target="_blank" style="color: white">피드백하기</a>
        </li>

    <!--            {% if request.session.id %}-->
        <li>
            <a href='/mypage/' style="color: white">마이페이지</a>
        </li>
    <!--            {% endif %}-->

        <li>
            <!-- 로그인 세션 활용 -->
    <!--                {% if not request.session.id %}-->
    <!--                <a href='/login/'>로그인</a>-->
<!--            {% else %}-->
            <a href='javascript:logout()' style="color: white">로그아웃</a>
    <!--                {% endif %}-->
        </li>
    </ul>

</header>

    <div class="bg_wrapper">
    <!-- 메인 -->
    <header class="main_bg">
        <!-- 소개 문구 -->
        <div class="bg_text_btn">
            <div class="bg_small_text fadein_text" style="letter-spacing:1px;">
                상명대 졸업요건 검사 사이트
            </div>
            <div class="bg_big_text fadein_text" style="letter-spacing:8px;">
                SMUNITY
            </div>
            <div class="bg_btn">
                <button class="bg_btn_style" onclick="location.href='/mypage/'">검사하기</button>
            </div>
        </div>

        <!-- 방문자 + 검사횟수 -->
        <div class="num_visit">
            <div>
                <i class="fas fa-calendar-day"></i>&nbsp;&nbsp;오늘 방문자 수 : 322 명
            </div>
            <div style="margin-top:0.4rem;">
                <i class="fas fa-mouse" style="margin-right:0.1rem;"></i>&nbsp;&nbsp;총 방문자 수 : 35213 명
            </div>
            <div style="margin-top:0.4rem;">
                <i class="fas fa-user"></i>&nbsp;&nbsp;총 회원 수 : 6392 명
            </div>
        </div>
    </header>

</div>
{% endblock %}
