{% extends 'base.html' %}
{% load static %}
{% block main_area %}
    <div class="bg_wrapper">
        <div class="main-img">
            <img class="main-img-image"/>
            <div class="main-img__text main-margin">
                <div class="bg_small_text fadein_text">
                    상명대 졸업요건 검사 사이트
                </div>
                <div class="bg_big_text fadein_text">
                    SMUNITY
                </div>
                <div class="bg_btn">
                    <button class="bg_btn_style" onclick="location.href={% url 'core:mypage' %}">검사하기</button>
                </div>
            </div>
            <div class="main-img__text card-margin">
                <div class="num_visit cards">
                    <div>
                        <i class="fas fa-calendar-day"></i>&nbsp;&nbsp;오늘 방문자 수 : {{visit_today}}
                    </div>
                    <div style="margin-top:0.4rem;">
                        <i class="fas fa-mouse" style="margin-right:0.1rem;"></i>&nbsp;&nbsp;총 방문자 수 : {{visit_total}}
                    </div>
                    <div style="margin-top:0.4rem;">
                        <i class="fas fa-user"></i>&nbsp;&nbsp;총 회원 수 : {{user_num}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}