{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block main_area %}
    <div class="navbar-img">
        <img class="navbar-img-image" src="{% static 'img/main.jpg' %}"  style="width: 100%; height: 300px; object-fit:cover"/>
        <div class="navbar-img__text">
            <span class="navbar-img__text--title">
                <div style="font-size:4rem;">
                    <img src="{% static 'img/logo.png' %}" style="width:100px; height:100px;">
                </div>
                <div class="big_title">마이페이지</div>
            </span>
            <span class="navbar-img__text--subtitle">
                <button onclick="go_result()" class="go_result_btn">졸업요건 검사하기</button>
            </span>
        </div>
    </div>

    <div class="white_sec">
        <div class="my_box_wrap">
            <div class="my_box">
                <div class="my_box_title">
                    <div><i class="fas fa-user"></i>내 정보</div>
                    <button id='b1' class="my_box_mod_btn">업데이트</button>
                </div>
                <hr>
                <table>
                    <tr>
                        <td class="my_box_table_1st_td">이름</td>
                        <td>{{ profile.name }}</td>
                    </tr>
                    <tr>
                        <td class="my_box_table_1st_td">학번</td>
                        <td>201911019</td>
                    </tr>
                    <tr>
                        <td class="my_box_table_1st_td">학과</td>
                        <td>{{ profile.department.name }}</td>
                    </tr>
                    <tr>
                        <td class="my_box_table_1st_td">과사무실<br>전화번호</td>
                        <td>{{ profile.department.call }}</td>
                    </tr>
                </table>
                <hr style="margin-bottom:0.8rem; margin-top:0.8rem;">
                <div class="my_box_title">
                    <div><i class="fas fa-key"></i>비밀번호 변경</div>
                    <button id='b3' class="my_box_mod_btn">변경하기</button>
                </div>
                <hr style="margin-bottom:0.8rem; margin-top:0.8rem;">
                <div class="my_box_title">
                    <div><i class="fas fa-exclamation-triangle"></i>회원 탈퇴</div>
                    <button id='b6' class="my_box_mod_btn">탈퇴하기</button>
                </div>
            </div>

            <!-- 기이수과목 -->
            <div class="my_box_grade">
                <div style="padding:2.5rem 2.5rem 0 2.5rem">
                    <div class="my_box_title">
                        <div><i class="fas fa-graduation-cap"></i>내 기이수과목</div>
                        <div>
{#                            <button id='b5' class="my_box_mod_btn" style="margin-right:1.3rem">커스텀하기</button>#}
                            <button id='b4' class="my_box_mod_btn">업데이트</button>
                        </div>
                    </div>
                    <hr>

                    <!-- 7개 -->
                    <table id="short_table" class="grade_table" style="margin-top:2rem;">
                        <tr>
                            <th class="grade_table_th" style="width:10%">년도</th>
                            <th class="grade_table_th" style="width:10%">학기</th>
                            <th class="grade_table_th" style="width:14%">학수번호</th>
                            <th class="grade_table_th" style="width:30%">과목명</th>
                            <th class="grade_table_th" style="width:14%">이수구분</th>
                            <th class="grade_table_th" style="width:14%">선택영역</th>
                            <th class="grade_table_th" style="width:8%; border-right :0px">학점</th>
                        </tr>
                        {% for course in short %}
                        <tr>
                            <td class="grade_table_td">{{ course.year }}</td>
                            <td class="grade_table_td">{{ course.semester }}</td>
                            <td class="grade_table_td">{{ course.subject.number }}</td>
                            <td class="grade_table_td">{{ course.subject.name }}</td>
                            <td class="grade_table_td">{{ course.type }}</td>
                            <td class="grade_table_td">
                                {% if course.domain  %}
                                    {{ course.domain }}
                                {% endif %}
                            </td>
                            <td class="grade_table_td" style="border-right :0px">{{ course.credit }}</td>
                        </tr>
                        {% endfor %}
                    </table>

                    <!-- 전체보기 -->
                    <table id="long_table" class="grade_table" style="display:none; ">
                        <tr>
                            <th class="grade_table_th" style="width:10%">년도</th>
                            <th class="grade_table_th" style="width:10%">학기</th>
                            <th class="grade_table_th" style="width:14%">학수번호</th>
                            <th class="grade_table_th" style="width:30%">과목명</th>
                            <th class="grade_table_th" style="width:14%">이수구분</th>
                            <th class="grade_table_th" style="width:14%">선택영역</th>
                            <th class="grade_table_th" style="width:8%; border-right :0px">학점</th>
                        </tr>
                        {% for course in courses %}
                        <tr>
                            <td class="grade_table_td">{{ course.year }}</td>
                            <td class="grade_table_td">{{ course.semester }}</td>
                            <td class="grade_table_td">{{ course.subject.number }}</td>
                            <td class="grade_table_td">{{ course.subject.name }}</td>
                            <td class="grade_table_td">{{ course.type }}</td>
                            <td class="grade_table_td">
                                {% if course.domain  %}
                                    {{ course.domain }}
                                {% endif %}
                            </td>
                            <td class="grade_table_td" style="border-right :0px">{{ course.credit }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div id="show_btn" onclick="show_table()" class="show_table"><i class="fas fa-chevron-down"></i>&nbsp;펼치기
                </div>
                <div id="hide_btn" onclick="hide_table()" class="show_table" style="display:none"><i
                        class="fas fa-chevron-up"></i>&nbsp;접기</div>
                </div>
            </div>
        </div>
    </div>

    <!-- 1. 내정보 업데이트 모달 -->
    <div id='m1' class="modal">
        <div class="update_modal_content">
            <div id='c1' class="close">&times;</div>
            <div class="login_title" style="font-size:2rem; margin-top:1.7rem;">
                내 정보 업데이트
            </div>
            <div style="margin-top:0.5rem; font-size:0.9rem; color:rgb(199, 199, 199)">
                이캠퍼스에 로그인하여 이름, 학과 정보를 업데이트합니다. (상명대학교 포털 ID/PW와 동일)
            </div>
            <hr style="width:80%; margin-top:1.3rem;">
            <!-- 폼 -->
            <form action="{% url 'accounts:update' %}" method="post" name='form1' onsubmit="return check_up1()">
                {% csrf_token %}
                <div class="regi_box">
                    <label>학번</label>
                    <input type="text" value="{{ user.username }}"
                        style="background-color:rgb(248,249,250);" disabled>
                    <label>이캠퍼스 비밀번호</label>
                    <input type="password" id="pw" name="password" placeholder="이캠퍼스 비밀번호">
                </div>
                <input type='submit' class='go_result_btn' value='로그인' style="margin:2.5rem 0 2rem 0;">
            </form>
        </div>
    </div>

    <!-- 3. 비번 변경 모달 -->
    <div id='m3' class="modal">
        <div class="update_modal_content">
            <div id='c3' class="close">&times;</div>
            <div class="login_title" style="font-size:2rem; margin-top:1.7rem;">비밀번호 변경</div>
            <hr style="width:80%; margin-top:1.3rem;">
            <!-- 폼 -->
            <form action="{% url 'accounts:change' %}" method="post" name='form3' onsubmit="return check_up3()">
                {% csrf_token %}
                <div class="regi_box">
                    <label>새 비밀번호</label>
                    <input id="pw1" type="password" name="password1">
                    <label>비밀번호 재확인</label>
                    <input id="pw2" type="password" name="password2">
                </div>
                <input type='submit' class='go_result_btn' value='변경하기' style="margin:2.5rem 0 2rem 0;">
            </form>
        </div>
    </div>

    <!-- 4. 기이수성적 업데이트 모달-->
    <div id='m4' class="modal">
        <div class="update_modal_content">
            <div id='c4' class="close">&times;</div>
            <div class="login_title" style="font-size:2rem; margin-top:1.7rem;">
                기이수성적 업로드
            </div>

            <hr style="width:80%; margin-top:1.3rem;">
            <div style="margin:0 auto; margin-top:1.5rem; margin-bottom:2.5rem; text-align: left; width:65%">
                <p>1. 학과사무실에 연락합니다.</p>
                <p>&nbsp;&nbsp; - 학과사무실 전화번호: <b><a href="tel:{{ profile.department.call }}">{{ profile.department.call }}</a></b> ({{ profile.department.name }})</p>
                <p>2. <b>‘성적사항 엑셀파일’</b> 송부를 요청합니다.</p>
                <p>3. 메일로 송부된 <b>‘성적사항 엑셀 파일’</b>을 다운로드한 후, 해당 파일을 업로드합니다.</p>
                <p style="margin-top:2rem;><span class="caution_info">※ 다운로드받은 파일을 수정하지 않고 그대로 업로드해야합니다.</span></p>
                <p><span class="caution_info">※ 저장 시 성적 중 학점이 F 인 과목은 인정되지 않고 자동 삭제됩니다.</span></p>
                <p><span class="caution_info">※ 사용자가 업로드하는 성적사항 엑셀파일은 따로 저장되지 않습니다.</span></p>
                <p><span class="caution_info">※ 샘물 통합정보시스템에서 해당 파일을 다운로드 받을 수 있도록 현재 협의 중입니다.</span></p>
            </div>

            <form action="{% url 'core:course_update' %}" method="post" name='form4' onsubmit="return check_up4()" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="box-file-input">
                    <label>
                        <input id="file_input" type="file" name="excel" class="file-input" accept=".xlsx">
                    </label>
                    <span class="filename">파일을 선택해주세요.</span>
                </div>
                <input type='submit' class='go_result_btn' value='업로드' style="margin:2.5rem 0 2rem 0;">
            </form>
        </div>
    </div>

    <!-- 5. 기이수과목 커스텀 모달-->
{#    <div id='m5' class="modal" style="display:none">#}
{#        <div class="update_modal_content">#}
{#            <div id='c5' class="close">&times;</div>#}
{#            <div class="login_title" style="font-size:2rem; margin-top:1.7rem;">#}
{#                기이수과목 커스텀#}
{#            </div>#}
{#            <hr style="width:80%; margin-top:1.3rem;">#}
{#            <div style="margin:1.5rem 0 2.5rem 0;">#}
{#                <p>학사정보시스템에서 다운받는 엑셀파일엔 이번 학기 과목들이 반영되지 않으셨죠? 😭</p>#}
{#                <p>또 다음 학기에 들을 과목을 추가해 검사해보고 싶으신가요? </p>#}
{#                <p style="font-size :1.3rem; margin-top:2rem;">#}
{#                    <span style="font-size :1.5rem; font-weight: bold; color : rgb(164, 26, 55)">'커스텀 기능'</span> 으로 원하는 과목을 추가해서 검사해보세요!#}
{#                </p>#}
{#            </div>#}
{#            <button onclick=location.href="{% url 'core:custom' %}" class='login_btn' style="margin:1rem 0 2rem 0;">커스텀 시작</button>#}
{#        </div>#}
{#    </div>#}

    <!-- 6. 회원탈퇴 모달-->
    <div id='m6' class="modal">
        <div class="update_modal_content">
            <div id='c6' class="close">&times;</div>
            <div class="login_title" style="font-size:2rem; margin-top:1.7rem;">
                회원 탈퇴
            </div>
            <div style="margin-top:0.5rem; font-size:0.9rem; color:rgb(199, 199, 199)">
                스뮤니티에서 탈퇴합니다. (회원 정보 모두 삭제)
            </div>
            <hr style="width:80%; margin-top:1.3rem;">

            <form action="{% url 'core:member_del' %}" method="POST" name='form6' onsubmit="return check_up6()">
                {% csrf_token %}
                <div class="regi_box">
                    <label>학번</label>
                    <input type="text" name="student_id" placeholder='{{ user.username }}'
                        style="background-color:rgb(248,249,250);" disabled>
                    <label>비밀번호</label>
                    <input type="password" id="pw6" name="pw_del" placeholder="비밀번호">
                </div>
                <input type='submit' class='go_result_btn' value='탈퇴하기' style="margin:2.5rem 0 2rem 0;">
            </form>
        </div>
    </div>

    <!-- 로그인시 로딩 모달 창 -->
    <div id='load_madal' class="modal">
        <div class="load-modal-content">
            <div class="modal_loadcontainer">
                <div class="sk-chase">
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                </div>
                <div class="loading">
                    <span>정</span>
                    <span>보</span>
                    <span>업</span>
                    <span>데</span>
                    <span>이</span>
                    <span>트</span>
                    <span>중</span>
                    <span>.</span>
                    <span>.</span>
                    <span>.</span>
                </div>
                <div class="load_info">
                    창을 이동하지 마세요!
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="{% static 'js/modal.js' %}"></script>

<script>
    // 마이페이지에서 뒤로가기 버튼 클릭시 무조건 home
    history.pushState(null, null, location.href);
    window.onpopstate = function (event) {
        location.href = "{% url 'home' %}";
    };

    // 졸업요건으로 넘어가기
    function go_result() {
        {% if courses %}
            location.href = "{% url 'core:result' %}";
        {% else %}
            alert('성적사항 엑셀파일을 먼저 업로드 해주세요!');
        {% endif %}
    }

    // 업데이트 클릭시 로딩 모달 띄우기
    function pop_modal() {
        document.getElementById('load_madal').style.display = "block";
    }

    function check_up1() {
        if (!document.getElementById('pw').value) {
            alert('비밀번호를 입력해주세요.');
            form1.pw.focus();
            return false;
        }
        pop_modal();
        return true;
    }

    function check_up6() {
        if (!document.getElementById('pw6').value) {
            alert('비밀번호를 입력해주세요.');
            form6.pw6.focus();
            return false;
        }
        var con = confirm('😢정말 탈퇴하실건가요?')
        if(con){
            pop_modal();
            return true;
        }
        else{
            return false;
        }
    }


    // 비번 안쓰거나 일치안하면 빠꾸
    function check_up3() {
        if (!document.getElementById('pw1').value) {
            alert('비밀번호를 입력해주세요.');
            form3.pw1.focus();
            return false;
        }
        if (document.getElementById('pw1').value !== document.getElementById('pw2').value) {
            alert('비밀번호가 일치하지 않습니다.');
            form3.pw1.focus();
            return false;
        }
        pop_modal();
        return true;
    }

    // 파일 업로드 안하고 버튼 누르면 빠꾸
    function check_up4() {
        if (!document.getElementById("file_input").value) {
            alert("엑셀파일을 첨부해주세요.");
            return false;
        }
        pop_modal();
        return true;
    }

    // 파일 업로드 css - jquery 적용
    $(document).on("change", ".file-input", function () {
        $filename = $('input[type=file]').val().replace(/.*(\/|\\)/, '');
        if ($filename == "")
            $filename = "파일을 선택해주세요.";
        $(".filename").text($filename);
    })

    function show_table() {
        // 테이블 전환
        document.getElementById("short_table").style.display = "none";
        document.getElementById("long_table").style.display = "table";
        // 버튼 전환
        document.getElementById("show_btn").style.display = "none";
        document.getElementById("hide_btn").style.display = "block";
    }

    function hide_table() {
        document.getElementById("short_table").style.display = "table";
        document.getElementById("long_table").style.display = "none";
        document.getElementById("show_btn").style.display = "block";
        document.getElementById("hide_btn").style.display = "none";
    }

    // 모달 켜는 버튼 id
    var b1 = document.getElementById("b1");     // 1. 내 정보 업데이트
    var b3 = document.getElementById("b3");     // 3. 비번 변경
    var b4 = document.getElementById("b4");     // 4. 기이수성적 업로드
    {#var b5 = document.getElementById("b5");     // 5. 커스텀#}
    var b6 = document.getElementById("b6");     // 6. 회원탈퇴

    // 모달 id
    var m1 = document.getElementById('m1');
    var m3 = document.getElementById('m3');
    var m4 = document.getElementById('m4');
    var m5 = document.getElementById('m5');
    var m6 = document.getElementById('m6');

    // 모달 끄는 버튼(X) id
    var c1 = document.getElementById("c1");
    var c2 = document.getElementById("c2");
    var c3 = document.getElementById("c3");
    var c4 = document.getElementById("c4");
    {#var c5 = document.getElementById("c5");#}
    var c6 = document.getElementById("c6");

    // 모달 키는 함수 호출
    Btnclick(b1, m1);
    Btnclick(b3, m3);
    Btnclick(b4, m4);
    {#Btnclick(b5, m5);#}
    Btnclick(b6, m6);
    // 모달 끄는 함수 호출
    Spanclick(c1, m1);
    Spanclick(c3, m3);
    Spanclick(c4, m4);
    {#Spanclick(c5, m5);#}
    Spanclick(c6, m6);
    // 모달 밖 화면 누를때 꺼지게하기
    window.onclick = function (event) {
        if (event.target == m1) {
            m1.style.display = "none";
        }
        if (event.target == m3) {
            m3.style.display = "none";
        }
        if (event.target == m4) {
            m4.style.display = "none";
        }
        if (event.target == m5) {
            m5.style.display = "none";
        }
        if (event.target == m6) {
            m6.style.display = "none";
        }
    }

    // 툴팁 함수
    let tooltip_btn = document.querySelectorAll('.tooltip');
    let tooltip_box = document.querySelectorAll('.tooltip_text2');
    window.onload = function(){

        for (i = 0; i < tooltip_btn.length; i++) {
            Tooltipeb(tooltip_btn[i], tooltip_box[i]);
        }

        function Tooltipeb(btn, box) {
            btn.addEventListener('click', () => {
                box.classList.toggle('active');
            });
        }
    }
    </script>
{% endblock %}