{% extends 'base.html' %}
{% load static %}
{% block main_area %}
    <div class="container" style="margin-top: 4rem; margin-bottom: 4rem; text-align: center;">
        <h2>총 회원 수</h2>
        <h2 style="color:var(--sangmyung);"><b>{{ user_total }}</b></h2>
        <div id="chart_members"></div>

        <h2 style="margin-top: 2rem;">총 방문자 수</h2>
        <h2 style="color:var(--sangmyung);"><b>{{ visit_total }}</b></h2>
        <div id="chart_visitors"></div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{% static 'js/chart.js' %}"></script>
    <script type="text/javascript">
        const data_member = {{ data_members|safe }};
        const visitors_data = {{ data_visitors|safe }};
        const members_data = data_member.map(x => [new Date(x[0]), x[1]]);
    </script>
{% endblock %}