<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="smunity"/>
    <meta property="og:url" content="https://smunity.co.kr"/>
    <meta property="og:image" content="https://user-images.githubusercontent.com/63601183/182406040-d05ae4a4-e48a-43d9-94d3-e4b3e1e3e9c8.jpg" />
    <meta property="og:image:alt" content="smunity Team Page"/>
    <meta property="og:description" content="smunity Team Page"/>
    <title>SMUNITY Team Page</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'team/css/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'team/css/team.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'team/js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'team/js/nicepage.js' %}" defer=""></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap" rel="stylesheet">
</head>

<body class="u-body u-xl-mode">
    <header class="u-clearfix u-header u-header" id="sec-1417">
			<div class="u-clearfix u-sheet u-sheet-1">
				<a href="{% url 'home' %}" class="u-image u-logo u-image-1" data-image-width="165" data-image-height="30" title="home">
					<img src="{% static 'img/smunity.png' %}" class="u-logo-image u-logo-image-1">
				</a>
				<nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1" data-responsive-from="MD">
					<div class="menu-collapse u-custom-font">
						<a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-file-icon u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-file-icon-1" href="{% url 'home' %}">
							<img src="{% static 'team/img/home.png' %}" alt="">
						</a>
					</div>
					<div class="u-custom-menu u-nav-container">
						<ul class="u-custom-font u-nav u-unstyled u-nav-1">
							<li class="u-nav-item">
								<a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'home' %}" style="padding: 10px 20px;">스뮤니티 사이트로 돌아가기</a>
							</li>
						</ul>
					</div>
					<div class="u-custom-menu u-nav-container-collapse">
						<div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
							<div class="u-inner-container-layout u-sidenav-overflow">
								<div class="u-menu-close"></div>
								<ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
									<li class="u-nav-item">
										<a class="u-button-style u-nav-link" href="{% url 'home' %}" style="padding: 10px 20px">스뮤니티 사이트로 돌아가기</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
					</div>
				<style class="offcanvas-style">            .u-offcanvas .u-sidenav { flex-basis: 250px !important; }            .u-offcanvas:not(.u-menu-open-right) .u-sidenav { margin-left: -250px; }            .u-offcanvas.u-menu-open-right .u-sidenav { margin-right: -250px; }            @keyframes menu-shift-left    { from { left: 0;        } to { left: 250px;  } }            @keyframes menu-unshift-left  { from { left: 250px;  } to { left: 0;        } }            @keyframes menu-shift-right   { from { right: 0;       } to { right: 250px; } }            @keyframes menu-unshift-right { from { right: 250px; } to { right: 0;       } }            </style></nav>
			</div>
		</header>
    <section class="u-clearfix u-section-1" id="sec-d92b">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-align-center u-custom-font u-font-oswald u-text u-text-1 animated customAnimationIn-played" data-animation-name="customAnimationIn" data-animation-duration="1000" style="will-change: transform, opacity; animation-duration: 1000ms;">
                SMUNITY
            </h1>
            <h5 class="u-align-center u-text u-text-2 animated customAnimationIn-played" data-animation-name="customAnimationIn" data-animation-duration="1000" style="will-change: transform, opacity; animation-duration: 1000ms;">
                SMUNITY 팀은&nbsp;<br>
                상명대 학생분들을 편리하게 하는 서비스를 제공하기 위해 구성되었습니다.<br>
                <br>'상명대학교 졸업요건 검사 사이트'는 저희가 직접 개발한 서비스이며,<br>
                재학생분들이 졸업요건을 쉽게 확인하는 것을 목표로 서비스를 운영하고 있습니다.
            </h5>
        </div>
    </section>
    <section class="u-align-left u-clearfix u-white u-section-3" id="carousel_2f6e">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-left u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-1 backstage animated" data-animation-name="customAnimationIn" data-animation-duration="1000" style="will-change: transform, opacity; animation-duration: 1000ms;">
                <div class="u-container-layout u-container-layout-1">
                    <h1 class="u-align-right u-custom-font u-font-oswald u-text u-text-1">
                        BackEnd
                    </h1>
                    <p class="u-align-right u-text u-text-2">
                        상명대 졸업요건 검사 사이트의&nbsp;<br>백엔드 담당한 팀원들입니다.
                    </p>
                    <a href="https://github.com/hyunmin0317/smunity" class="u-align-center-xs u-align-right-lg u-align-right-md u-align-right-sm u-align-right-xl u-border-none u-btn u-btn-round u-button-style u-grey-10 u-hover-palette-3-light-2 u-radius-50 u-btn-1">GO TO BACKEND GITHUB</a>
                </div>
            </div>
            <div class="u-clearfix u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-gutter-30 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-size-30">
                            <div class="u-layout-col">
                                <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-20 u-size-30-md u-white u-layout-cell-1">
                                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                                        <div alt="" class="u-align-center u-image u-image-circle u-image-1" data-image-width="460" data-image-height="460"></div>
                                        <h4 class="u-custom-font u-font-oswald u-text u-text-3">
                                            Hyunmin Choi
                                        </h4>
                                        <div class="u-social-icons u-spacing-10 u-social-icons-1">
                                            <a class="u-social-url" target="_blank" href="https://github.com/hyunmin0317" title="github"><span class="u-file-icon u-icon u-social-facebook u-social-icon u-icon-1"><img src="{% static 'team/img/github.png' %}" alt=""></span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="mailto:choihm9903@naver.com" title="email"><span class="u-file-icon u-icon u-social-icon u-social-twitter u-icon-2"><img src="{% static 'team/img/email.png' %}" alt=""></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-20 u-size-30-md u-white u-layout-cell-2">
                                    <div class="u-container-layout u-valign-middle u-container-layout-3">
                                        <div alt="" class="u-align-center u-image u-image-circle u-image-2" data-image-width="460" data-image-height="460"></div>
                                        <h4 class="u-custom-font u-font-oswald u-text u-text-4">
                                            Minyoung Kho
                                        </h4>
                                        <div class="u-social-icons u-spacing-10 u-social-icons-2">
                                            <a class="u-social-url" target="_blank" href="https://github.com/gomin0" title="github"><span class="u-file-icon u-icon u-social-facebook u-social-icon u-icon-1"><img src="{% static 'team/img/github.png' %}" alt=""></span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="mailto:gomin0981113@naver.com" title="email"><span class="u-file-icon u-icon u-social-icon u-social-twitter u-icon-2"><img src="{% static 'team/img/email.png' %}" alt=""></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-20 u-size-30-md u-white u-layout-cell-2">
                                    <div class="u-container-layout u-valign-middle u-container-layout-3">
                                        <div alt="" class="u-align-center u-image u-image-circle u-image-5" data-image-width="460" data-image-height="460"></div>
                                        <h4 class="u-custom-font u-font-oswald u-text u-text-4">
                                            Wooseok Oh
                                        </h4>
                                        <div class="u-social-icons u-spacing-10 u-social-icons-2">
                                            <a class="u-social-url" target="_blank" href="https://github.com/Ohwooseok" title="github"><span class="u-file-icon u-icon u-social-facebook u-social-icon u-icon-1"><img src="{% static 'team/img/github.png' %}" alt=""></span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="mailto:dhdntjr369@naver.com" title="email"><span class="u-file-icon u-icon u-social-icon u-social-twitter u-icon-2"><img src="{% static 'team/img/email.png' %}" alt=""></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-30">
                            <div class="u-layout-col">
                                <div class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-left-cell u-size-20 u-size-30-md u-layout-cell-4">
                                    <div class="u-container-layout u-container-layout-5"></div>
                                </div>
                                <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-20 u-size-30-md u-white u-layout-cell-5">
                                    <div class="u-container-layout u-valign-middle u-container-layout-6">
                                        <div alt="" class="u-align-center u-image u-image-circle u-image-3" data-image-width="460" data-image-height="460"></div>
                                        <h4 class="u-custom-font u-font-oswald u-text u-text-5">
                                            Jongwoo Kim
                                        </h4>
                                        <div class="u-social-icons u-spacing-10 u-social-icons-3">
                                            <a class="u-social-url" target="_blank" href="https://github.com/jiiiiiw" title="github"><span class="u-file-icon u-icon u-social-facebook u-social-icon u-icon-1"><img src="{% static 'team/img/github.png' %}" alt=""></span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="mailto:kijiwi1@naver.com" title="email"><span class="u-file-icon u-icon u-social-icon u-social-twitter u-icon-2"><img src="{% static 'team/img/email.png' %}" alt=""></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-20 u-size-60-md u-white u-layout-cell-6">
                                    <div class="u-container-layout u-valign-middle u-container-layout-7">
                                        <div alt="" class="u-align-center u-image u-image-circle u-image-4" data-image-width="208" data-image-height="208"></div>
                                        <h4 class="u-custom-font u-font-oswald u-text u-text-6">
                                            Seheon Ho
                                        </h4>
                                        <div class="u-social-icons u-spacing-10 u-social-icons-4">
                                            <a class="u-social-url" target="_blank" href="https://github.com/seheonnn" title="github"><span class="u-file-icon u-icon u-social-facebook u-social-icon u-icon-1"><img src="{% static 'team/img/github.png' %}" alt=""></span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="mailto:ho78901@naver.com" title="email"><span class="u-file-icon u-icon u-social-icon u-social-twitter u-icon-2"><img src="{% static 'team/img/email.png' %}" alt=""></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-left-cell u-size-20 u-size-30-md u-layout-cell-4">
                                    <div class="u-container-layout u-container-layout-5"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-left u-clearfix u-white u-section-2" id="carousel_b054">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-left u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-1 backstage animated" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction="" style="will-change: transform, opacity; animation-duration: 1000ms;">
                <div class="u-container-layout u-container-layout-1">
                    <h1 class="u-custom-font u-font-oswald u-text u-text-1">
                        FrontEnd
                    </h1>
                    <p class="u-text u-text-2">
                        상명대 졸업요건 검사 사이트의&nbsp;<br>프론트엔드를 담당한 팀원들입니다.
                    </p>
                    <a href="https://github.com/hyunmin0317/smunity-FE" class="u-align-left u-border-none u-btn u-btn-round u-button-style u-grey-10 u-hover-palette-2-light-1 u-radius-50 u-btn-1">GO TO FRONTEND GITHUB</a>
                </div>
            </div>
            <div class="u-clearfix u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-gutter-30 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-size-30">
                            <div class="u-layout-col">
                                <div class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-left-cell u-size-20 u-size-30-md u-layout-cell-1">
                                    <div class="u-container-layout u-container-layout-2"></div>
                                </div>
                                <div class="u-align-center u-container-style u-layout-cell u-left-cell u-shape-rectangle u-size-20 u-size-30-md u-white u-layout-cell-2">
                                    <div class="u-container-layout u-container-layout-3">
                                        <div alt="" class="u-align-center u-image u-image-circle u-image-1" data-image-width="460" data-image-height="460"></div>
                                        <h4 class="u-custom-font u-font-oswald u-text u-text-3">
                                            Donghyun Kim
                                        </h4>
                                        <div class="u-social-icons u-spacing-10 u-social-icons-1">
                                            <a class="u-social-url" target="_blank" href="https://github.com/DDonghyeo" title="github"><span class="u-file-icon u-icon u-social-facebook u-social-icon u-icon-1"><img src="{% static 'team/img/github.png' %}" alt=""></span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="mailto:gsu9045000@gmail.com" title="email"><span class="u-file-icon u-icon u-social-icon u-social-twitter u-icon-2"><img src="{% static 'team/img/email.png' %}" alt=""></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-20 u-size-60-md u-white u-layout-cell-3">
                                    <div class="u-container-layout u-valign-middle u-container-layout-4">
                                        <div alt="" class="u-align-center u-image u-image-circle u-image-2" data-image-width="420" data-image-height="420"></div>
                                        <h4 class="u-custom-font u-font-oswald u-text u-text-4">
                                            Geunsik Kim
                                        </h4>
                                        <div class="u-social-icons u-spacing-10 u-social-icons-2">
                                            <a class="u-social-url" target="_blank" href="https://github.com/600gramSik" title="github"><span class="u-file-icon u-icon u-social-facebook u-social-icon u-icon-1"><img src="{% static 'team/img/github.png' %}" alt=""></span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="mailto:geunsikevin@gmail.com" title="email"><span class="u-file-icon u-icon u-social-icon u-social-twitter u-icon-2"><img src="{% static 'team/img/email.png' %}" alt=""></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-30">
                            <div class="u-layout-col">
                                <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-20 u-size-30-md u-white u-layout-cell-4">
                                    <div class="u-container-layout u-valign-middle u-container-layout-5">
                                        <div alt="" class="u-align-center u-image u-image-circle u-image-3" data-image-width="460" data-image-height="460"></div>
                                        <h4 class="u-custom-font u-font-oswald u-text u-text-5">
                                            Jinho Kim
                                        </h4>
                                        <div class="u-social-icons u-spacing-10 u-social-icons-3">
                                            <a class="u-social-url" target="_blank" href="https://github.com/jinho7" title="github"><span class="u-file-icon u-icon u-social-facebook u-social-icon u-icon-1"><img src="{% static 'team/img/github.png' %}" alt=""></span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="mailto:jh7524jh7524@gmail.com" title="email"><span class="u-file-icon u-icon u-social-icon u-social-twitter u-icon-2"><img src="{% static 'team/img/email.png' %}" alt=""></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-20 u-size-30-md u-white u-layout-cell-5">
                                    <div class="u-container-layout u-valign-middle u-container-layout-6">
                                        <div alt="" class="u-align-center u-image u-image-circle u-image-4" data-image-width="420" data-image-height="420"></div>
                                        <h4 class="u-custom-font u-font-oswald u-text u-text-6">
                                            Minwoo Kim
                                        </h4>
                                        <div class="u-social-icons u-spacing-10 u-social-icons-4">
                                            <a class="u-social-url" target="_blank" href="https://github.com/minpot" title="github"><span class="u-file-icon u-icon u-social-facebook u-social-icon u-icon-1"><img src="{% static 'team/img/github.png' %}" alt=""></span>
                                            </a>
                                            <a class="u-social-url" target="_blank" href="mailto:potato991213@naver.com" title="email"><span class="u-file-icon u-icon u-social-icon u-social-twitter u-icon-2"><img src="{% static 'team/img/email.png' %}" alt=""></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-right-cell u-size-20 u-size-60-md u-layout-cell-6">
                                    <div class="u-container-layout u-container-layout-7"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="u-align-center u-clearfix u-footer u-white u-footer" id="sec-1f48">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-small-text u-text u-text-variant u-text-1"></p>
        </div>
    </footer>
    <section class="u-backlink u-clearfix u-grey-80">
			<a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
				<span>Website Templates</span>
			</a>
			<p class="u-text">
				<span>created with</span>
			</p>
			<a class="u-link" href="https://nicepage.com/website-builder" target="_blank">
				<span>Website Builder</span> </a>.
		</section>
</body>

</html>