
.csstest{
    color:red;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR','sans-serif';
}

a {
    text-decoration: none;
    color: black;
}

/* 아이폰에서 input css 적용하기 */
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="number"],
input[type="checkbox"],
input[type="radio"],
input[type="button"]
{
    -webkit-appearance: none;
}
/* ---------------------------------( 상단 소개/컨테이너 공통 )---------------------------------------- */

.gray_sec{
    background-color:rgb(248,249,250) ;
    padding-top:1rem;
    padding-bottom: 2rem;
}

.white_sec{
    background-color: white;
    padding-bottom: 1rem;
}

.big_title{
    font-size:1.5rem;
    font-weight:bold;
}

.small_title{
    margin-top:0.5rem;
    font-size:1rem;
    color:rgb(199, 199, 199)
}


/* ---------------------------------( ref - 메뉴바 )---------------------------------------- */

.header{
    animation: fadein 2s;
    -webkit-animation: fadein 2s;

    position: absolute;
    padding-top: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
}

.regi_find_pwd a:hover
{
    font-weight: bold;
    color : rgb(14, 32, 127);
}



/* ---------------------------------( head - 메인 )---------------------------------------- */

.bg_wrapper{
    background-color: rgba(241, 241, 241, 0.575);
}

.main_bg {
    animation: fadein 2s;
    -webkit-animation: fadein 2s;

    width:100%;
    max-width: 1920px;
    min-height:1000px;
    background-image: url('../img/main.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}

.bg_text_btn {
    width:53rem;
    min-height:20rem;
    clear:right;
    float:right;
    margin-top:18rem;
    margin-right:3.5rem;
    text-align:center;
    color:white;
}

.bg_small_text{
    letter-spacing:-3px;
    font-size:2rem;
}

.bg_big_text{
    font-size:4rem;
    width:100%;
}

.bg_btn{
    padding-top : 2.5rem;
}

.bg_btn_style{

    background: #313131;
    color:white;
    border:none;
    position:relative;
    height:3.5rem;
    width:11rem;
    font-size:1.3em;
    border-radius: 2px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    font-weight:bold;
    letter-spacing: 3px;

}

.bg_btn_style:hover{
  background: rgba( 255, 255, 255, 0.5 );
  color: #003D91;
}
.bg_btn_style:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #003D91;
  transition:400ms ease all;
}
.bg_btn_style:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.bg_btn_style:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}


.num_visit{
    color:black;
    font-size:0.9rem;
    font-weight: bold;
    letter-spacing:0.8px;
    width:11.5rem;
    clear:right;
    float:right;
    margin-top:15.5rem;
    margin-right:2.5rem;
}

.popup_content{
    margin:0 auto;
    text-align: center;
    width:80%;
}
.popup_title{
    margin-top:2rem;
    font-size:2.5rem;
    font-weight:bold;
    color : #003D91;
}
.popup_box{
    margin:0 auto;
    font-size:1.1rem;
    margin-top:2rem;
    margin-bottom:1rem;
    text-align:left;
    padding:1.5rem 2rem 1.5rem 2rem;
    border: 1px solid rgb(216, 216, 216);
}
.popup_box li{
    line-height: 2.5rem;
}
.popup_check{
    font-size:1.2rem;
    text-align: right;
    color:gray;
}

@keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from { opacity:0;}
    to {opacity:1;}
}

/* 공지사항 모달 */

.modal {
    display: none; /* Block by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    border-radius: 10px;
    margin: 5% auto;
    padding: 5rem;
    border: 1px solid #888;
    width: 80%;
    max-width: 1280px;
    height: auto;
}

.modal_div {
    padding: 1rem;
    display : flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    text-align: center;
}

.modal_div_content {
    padding: 1rem;
    display : flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    text-align: center;
    border-top: 1px solid lightgray;
    line-height: 40px;
    font-size: 25px;
}

.caution{
    color: red;
}

.last{
    font-size: 20px;
    color: gray;
}

input[type=radio] + label {
    display:inline-block;
    width: 13px;
    height: 13px;
    border: 1px solid #000000;
    cursor:pointer;
}

input[type=radio]:checked + label {
    background-image: url('../img/checker-on.svg');
}

input[type=radio] {
    display: none;
}

input[type=checkbox] + label {
    display:inline-block;
    width: 13px;
    height: 13px;
    border: 1px solid #000000;
    cursor:pointer;
}

input[type=checkbox]:checked + label {
    background-image: url('../img/checker-on.svg');
}

input[type=checkbox] {
    display: none;
}

.link_site{
    font-size:0.8rem;
    padding:0.1rem 0.3rem 0.1rem 0.3rem;
    color:white;
    border-radius: 3px;
    background-color: #6188E8;
}

/* ---------------------------------( agree 검사대상 모달 )---------------------------------------- */

.target_color_span {
    font-size: 1.8rem;
    font-weight: bold;
    color: #6188E8
}

.target_num_div {
    font-size:1.5rem;
    margin : 2rem 0 2rem 0;
}

.target_caution_div {
    color:#d32f2f;
    font-weight:bold;
    font-size:1rem;
    margin : 2.3rem 0 2.3rem 0;
}

.target_table {
    font-size:1rem;
    width: 55%;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.target_table_th {
    text-align: center;
    height: 2.5rem;
    background-color: #f8f8f8;
    border-top: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

.target_table_td {
    text-align: left;
    padding : 0.3rem 0.7rem 0.3rem 0.7rem;
    height: 2rem;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;

}

.card {
    background-color: rgba( 255, 255, 255, 0.5 );
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding: 1rem;
}