.form-check-label {
    font-size: 16px;
    font-weight: 500;
}
.form-select {
    font-size: 17px;
    font-weight: 600;
    color: #495057;
}
.button {
    text-align: center;
}
.btn-post_list {
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    height: 70px;
    margin: 20px;
}