<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="smunity"/>
    <meta property="og:description" content="상명대학교 졸업요건 검사 사이트"/>
    <meta property="og:image" content="https://user-images.githubusercontent.com/63601183/182406040-d05ae4a4-e48a-43d9-94d3-e4b3e1e3e9c8.jpg" />
    <meta property="og:url" content="https://smunity.co.kr"/>
    <meta name="description" content="상명대학교 졸업요건 검사 사이트">
    <meta name="naver-site-verification" content="795e322d3ed7b8e5ff40b3031966b9c332ca9543" />
    <meta name="google-site-verification" content="q28iD6a-8k7fKaE1EIpkUoc9uW0Z1JIwtgRCfIUcHZE" />
    <title>SMUNITY</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/hyunmin0317/smunity/master/static/img/favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css %}
    {% endblock %}
</head>

<body>
    {% include 'navbar.html' %}

    {% block main_area %}
    {% endblock %}

    {% include 'footer.html'%}
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/e8a335040d.js" crossorigin="anonymous"></script>
    <!-- 예외처리 -->
    {% if messages %}
    {% for m in messages %}
    {% if m.tags == 'error' %}
    <script>
        alert('{{ m }}');
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}
</body>
<script>
        //모달 끄기
        function modal_close(e){
    var target = document.getElementById(e.getAttribute('close')).getAttribute('id');
    document.getElementById(target).style.display = "none";
    }
</script>
{% block js %}
{% endblock %}
{% if user.is_authenticated %}
<script>
    function logout() {
        var back_head = confirm('정말 로그아웃 하시겠습니까?');
        if (back_head) {
            location.href = '{% url 'accounts:logout' %}';
        }
    };
</script>
{% endif %}
</html>