<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="smunity"/>
    <meta property="og:description" content="상명대학교 졸업요건 검사 사이트"/>
    <meta property="og:image" content="https://user-images.githubusercontent.com/63601183/182406040-d05ae4a4-e48a-43d9-94d3-e4b3e1e3e9c8.jpg" />
    <meta property="og:url" content="https://smunity.co.kr"/>
    <meta name="description" content="상명대학교 졸업요건 검사 사이트">
    <meta name="naver-site-verification" content="795e322d3ed7b8e5ff40b3031966b9c332ca9543" />
    <meta name="google-site-verification" content="q28iD6a-8k7fKaE1EIpkUoc9uW0Z1JIwtgRCfIUcHZE" />
    <title>SMUNITY</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block css %}
    {% endblock %}
</head>

<body>
    {% include 'navbar.html' %}

    {% block main_area %}
    {% endblock %}

    {% include 'footer.html'%}
    <script src="{% static 'bootstrap/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e8a335040d.js" crossorigin="anonymous"></script>
    <!-- 예외처리 -->
    {% if messages %}
    {% for m in messages %}
    {% if m.tags == 'error' %}
    <script>
        alert('{{ m }}');
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}
</body>
<script src="{% static 'js/modal.js' %}"></script>
{% block js %}
{% endblock %}
</html>