<!--footer-->
<footer class="footer">
    <div class="copyright">
        <h4>
            <a href="https://github.com/smu-nity/SMUNITY" class="footer_link" target="_blank">GitHub</a> | <a href="{% url 'qna:privacy' %}" class="footer_link">개인정보처리방침</a> | <a href="{% url 'qna:terms' %}" class="footer_link">이용약관</a>
        </h4>
        <h4>
            Copyright ⓒ Smunity
            <a href="https://github.com/smu-nity/SMUNITY/releases/tag/{{ git_tag }}" class="footer_link" target="_blank">{{ git_tag }}</a>
            (<a href="https://github.com/smu-nity/SMUNITY/commit/{{ commit }}" class="footer_link" target="_blank">{{ short_commit }}</a>)
        </h4>
    </div>
</footer>