<!--footer-->
<footer class="footer">
    <div class="copyright">
        <h4>
            <a href="https://github.com/hyunmin0317/smunity" class="footer_link">GitHub</a> | <a href="{% url 'accounts:terms' %}" class="footer_link">이용약관</a> | <a href="https://branched-verdict-a94.notion.site/f7616a55b2be4b868411fdd409450680?pvs=4" class="footer_link">개인정보처리방침</a>
        </h4>
        <h4>
            <a href="{% url 'team' %}" class="footer_link">
                Copyright
                <i class="far fa-copyright"></i>
                Smunity
            </a>
        </h4>
    </div>
</footer>