<!--footer-->
<footer class="footer">
    <ul class="footer_list">
        <li>
            - Contact -
        </li>
        <li>
            Email :
        </li>
        <li>
            GitHub :
        </li>
    </ul>
    <h2 class="copyright">Copyright
        <i class="far fa-copyright"></i>
        2021 PleaseGraduate team
    </h2>
</footer>

<!-- 예외처리 -->
{% if messages %}
{% for m in messages %}
<!-- 로그인 오류 / 기타오류 발생시 -->
{% if m.tags == 'error' %}
<script>
    alert('{{ m }}');
</script>
{% endif %}
{% endfor %}
{% endif %}