{% load static %}
<nav class="navbar">
    <div class="navbar_logo">
        <a href="{% url 'home' %}" ><img src="{% static 'img/smunity.png' %}"></a>
    </div>

    <ul class="navbar_menu">
        <li>
            <a href='https://docs.google.com/forms/d/1a5feD1i5Cg4Oaev01C5zv__iGSWvAW6UdjGqcyguSlI' target="_blank">피드백하기</a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'core:mypage' %}">마이페이지</a>
        </li>
        <li>
            <a href='javascript:logout();'>로그아웃</a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'accounts:login' %}">로그인</a>
        </li>

        <li>
            <a href="{% url 'accounts:agree' %}">회원가입</a>
        </li>
        {% endif %}
    </ul>
</nav>