<!-- 로고 / 메뉴바-->
<nav class="navbar">
    <div class="navbar_logo">

    </div>

    <ul class="navbar_menu">
        <li>
            <a href='https://forms.gle/f2vUqVg9wQFneBLf7' target="_blank">피드백하기</a>
        </li>

        <li>
            <a href='/mypage/'>마이페이지</a>
        </li>

        <li>
            {% if user.is_authenticated %}
                <a href="{% url 'accounts:logout' %}">{{ user.username }} (로그아웃)</a>
            {% else %}
                <a href="{% url 'accounts:login' %}">로그인</a>
            {% endif %}
        </li>

        <li>
            {% if not user.is_authenticated %}
                <a href="{% url 'accounts:register' %}">회원가입</a>
            {% endif %}
        </li>
    </ul>
</nav>